@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Slab");

.fex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
}

body {
  display: grid;
  grid-template:
    "aside header header  "
    "aside  main main "
    "aside footer footer ";

  background-color: #e9e9e9;
}

header {
  justify-self: end;
  grid-area: header;
  display: grid;
  justify-items: center;
}

main {
  display: flex;
  grid-area: main;
  width: auto;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1%;
  justify-items: center;
  justify-items: streach;
}

aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  /* padding: 0;
  margin: 0; */
}

footer {
  display: flex;
  align-items: center;
  grid-area: footer;
  align-items: center;
}

img {
  width: 50%;
}

aside > img {
  width: 3em;
}

aside > h3 {
  padding: 0;
  margin: 1%;
  text-align: left;
  color: #e9e9e9;
  text-shadow: 2px 2px 4px #000000;
}
aside > h6 {
  padding: 0;
  margin: 1%;
  color: #e9e9e9;
  text-shadow: 2px 2px 4px #000000;
}

@media (min-width: 600px) {
  .a {
    background: plum;
    height: 200px;
    font-family: "Josefin Slab", serif;
    text-shadow: 1px 1px 3px magenta;
  }
}
