html {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
  max-height: 600px;
  width: 100vw;
  margin: 0;
  background-image: url("assets/stars.png"), url("assets/spaceMan.png"), url(""),
    url("assets/background.png"), linear-gradient(blue, black);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position: 0 0px, 0 0%, 500px, 0, 0;
  background-size: 1500px, 1000px, 150vw 150vh, 150vw 150vh, 1920px 1080px;
  animation: 100s para infinite ease;
}
@keyframes para {
  100% {
    background-position: -5000px 30%, 1000px 95%, 0px 0%, 0px 0%, 0 0;
  }
}
h1 > a {
  font-family: "Brush Script MT", cursive;
  color: #ff0000;
  text-decoration: none;
  font-size: 3vw;
  background: none;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#start {
  display: flex;
  justify-content: center;
  background-image: url("style\assets\space.png");
}

img {
  width: 10vw;
  height: 20vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.secret {
  cursor: default;
}

button {
  font-family: "Brush Script MT", cursive;
  color: #ff0000;
  text-decoration: none;
  font-size: 2.5vw;
  background: none;
}

footer {
  text-align: center;
}
