html {
  align-self: center;
  height: 100%;
  max-height: 600px;
  width: 100vw;
  margin: 0;
  background-image: url("assets/stars.png"), url("assets/spaceMan.png"), url(""),
    url("assets/background.png"), linear-gradient(blue, black);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position: 0 0px, 0 0%, 500px, 0, 0;
  background-size: 1500px, 1000px, 150vw 150vh, 150vw 150vh, 1920px 1080px;
  animation: 100s para infinite ease;
}
@keyframes para {
  100% {
    background-position: -5000px 30%, 1000px 95%, 0px 0%, 0px 0%, 0 0;
  }
}

table {
  align-self: center;
  width: 280px;
  height: 250px;
  table-layout: fixed;
  margin: 0;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  background-image: url("assets/board.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.timer {
  text-align: center;
}

.img {
  width: 40px;
  height: 40px;
}

.MusicImage {
  display: flex;
  width: 10px;
  height: 10vh;
}
.grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.connect-four {
  display: flex;
  justify-content: center;
}
.player-turn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  width: 140px;
  text-align: center;
  border: 2px red solid;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}

#backgroundMusic {
  opacity: 0.5;
  width: 20vw;
  height: 20vh;
  position: absolute;
}

@keyframes backgroundMusic {
  0% {
    background-image: url("style/assets/MusicImage.jpg");
    width: 20vw;
    height: 20vh;
  }
  25% {
    background-image: url("style/assets/MusicImage.jpg");
    background-color: yellow;
    width: 25vw;
    height: 22vh;
  }

  100% {
    background-image: url("style/assets/MusicImage.jpg");
    background-color: red;
    width: 40vw;
    height: 30vh;
  }
}

#backgroundMusic:hover {
  background-image: url("style/assets/MusicImage.jpg");
  background-color: #047dc5;
  opacity: 1;
  width: 40vw;
  height: 30vh;
  animation-name: backgroundMusic;
  animation-duration: 4s;
}

footer {
  text-align: center;
}
/*
.grid-container {
  display: grid;
  display: grid;
  grid-template-columns: 0.1fr 4.6fr 0.4fr 0.8fr;
  grid-template-rows: 0.5fr 0.6fr 3.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "connect-four connect-four connect-four ."
    "timer timer . buttons"
    ". gameboard gameboard player-turn"
    "footer footer footer footer";
 }
.connect-four {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: connect-four;
  grid-area: connect-four;
}
.player-turn {
display: grid;
  grid-template-columns: 0.4fr 2.3fr 0.3fr;
  grid-template-rows: 1.5fr 0.8fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". turn-text ."
    ". . .";
  grid-area: player-turn;
  grid-area: player-turn;

  text-align: center;
}
@@ -56,12 +56,12 @@ html {
  text-align: center;
}
.buttons {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  grid-area: buttons;
  grid-area: buttons;

}
.timer {
  grid-area: timer;
@@ -72,15 +72,15 @@ html {
  text-align: center;
}
.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "insideboard insideboard insideboard"
    "insideboard insideboard insideboard";
  grid-area: gameboard;
  background-image: url("assets/Board.png");
  grid-area: gameboard;

  background-size: 100% 100%;
  cursor: pointer;
}

#insideBoard{
  display: grid;
  grid-area: insideboard;
}



@@ -92,10 +92,15 @@ html {
  font-size: 50px;
  padding-top: 9px;
  padding-bottom: 47px;
  padding-left: 5px;
  padding-right: 5px;

  background-image: url("assets/Board.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.img {
  width: 0px;
} */

/* 114 x 75 */
/*
.buttonExit {
  cursor: pointer;
  height: 50%;
@@ -108,3 +113,13 @@ html {
  cursor: pointer;
  height: 50%;
}

.td {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
