html {
  height: 100%;
  /* max-height: 600px; */
  width: 1000px;
  margin: auto;
  background-image: url("assets/stars.png"), url("assets/spaceMan.png"),
    url("/"), url("assets/background.png"), linear-gradient(blue, black);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat;
  background-position: 0 0px, 0 0%, 500px, 0, 0;
  background-size: 1500px, 1000px, 300px 300px, 100% 100%, 100% 100%;
  animation: 100s para infinite ease;
}

@keyframes para {
  100% {
    background-position: -5000px 30%, 1000px 95%, 0px 0%, 0px 0%, 400px 0;
  }
}
.grid-container {
  /* display: grid;
  grid-template-columns: 0.1fr 4.6fr 0.4fr 0.8fr;
  grid-template-rows: 0.5fr 0.6fr 3.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "connect-four connect-four connect-four ."
    "timer timer . buttons"
    ". gameboard gameboard player-turn"
    "footer footer footer footer"; */
}
.connect-four {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: connect-four; */
}
.player-turn {
  /* display: grid;
  grid-template-columns: 0.4fr 2.3fr 0.3fr;
  grid-template-rows: 1.5fr 0.8fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". turn-text ."
    ". . .";
  grid-area: player-turn; */

  text-align: center;
}

.turn-text {
  grid-area: turn-text;
  text-align: center;
}
.buttons {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  grid-area: buttons; */
}
.timer {
  grid-area: timer;
}
.footer {
  margin-top: 5%;
  grid-area: footer;
  text-align: center;
}
.gameboard {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "insideboard insideboard insideboard"
    "insideboard insideboard insideboard";
  grid-area: gameboard; */

  background-size: 100% 100%;
  cursor: pointer;
}
.insideBoard {
  text-align: center;
  color: green;
  grid-area: insideboard;
  padding-bottom: 50px;
  font-size: 50px;
  padding-top: 9px;
  padding-bottom: 47px;

  background-image: url("assets/Board.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* 114 x 75 */

.buttonExit {
  cursor: pointer;
  height: 50%;
}
.buttonReset {
  cursor: pointer;
  height: 50%;
}
.buttonMute {
  cursor: pointer;
  height: 50%;
}

.td {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 75px;
}
